
header{
  position: relative;
}
.header__contact{
  background-color: rgb(51,51,51);
}

.nav-section__logo{
  position: absolute;
  top: 0px;
}

.nav-section__logo__img{
  width: calc(2rem + 10vw);
}

.nav-item-custom{
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-item-custom:hover{
  box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
  transform: translateY(-5px);
}
.nav-link--text{
  font-weight: 300;
  font-size: calc(1rem + 0.5vw);
  color: black !important;
}

.nav__search{
  width: calc(1.2rem + 3vw)
}
.banner-section{
  background-image: url('./assets/banner.jpg');
  height: 100vh;
  max-width: 100%;
  padding-left: calc(1.5rem + 10vw);
  padding-top: calc(1.5rem + 8vw);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-section__circulardiv{
  height: calc(10rem + 5vw);
  width: calc(10rem + 5vw);
  background-color: rgb(153,229,77);
  border-radius: 50%;
  color: black;
}

.banner-section__offer-heading{
  font-size: calc(1.5rem + 3vw);
}

.banner-section__heading{
  font-size: calc(2rem + 3vw);
  font-weight: 800;
  width: 40%;
}
.offer__type{
  font-size: calc(1.5rem + 0.5vw);
}

.banner-section__readmore{
  background-color: rgb(242,174,15);
  border-radius: 3rem;
  color: white;
  font-weight: 400;
  border: none;
}

main{
  background-color: rgb(26,26,26);
}
.custom-card{
  border-radius: 5rem;
  height: 30rem;
  background-image: url('./assets/banner.jpg');
  background-size: cover;
  overflow: hidden;

}
.custom-card--background{
  background:none;
}

.half-circle{
  width: 55%;
  height: 50%;
  border-radius: 50%;
  background-color: rgb(190,136,10);
  position: absolute;
  bottom: -73px;
  right: 20%;
  opacity: 0.8;
}

.half-circle h2{
  opacity: 1;
  color: black;
}

.circle-green{
  background-color: rgb(123,182,66)
}

.custom-card__h2{
  color: rgb(196,147,10);
}
.custom-card__p{
  font-size: calc(1.2rem + 0.3vw);
  overflow: hidden;
  max-height: 14em;
}
.custom-card__readmore{
  background-color:rgb(123,182,66);
  color: black;
  padding: 1rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.article-card{
  border-radius: 5rem;
  height: 40rem;
  background: none;
  background-size: cover;
  overflow: hidden;
}
.article-card__img{
  height: 100%;
  object-fit: cover;
}

.article-card__h2{
  font-size: calc(3rem + 3vw);
  font-weight: 700;
  color: white;
}

.article-card__subheading{
  font-size: calc(1rem + 0.5vw);
}

.article-card__text{
  font-size: 1.2rem;
}

.our-menue-section__heading{
  font-size: calc(1.5rem + 2vw);
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.our-menue-section__description{
  font-size: 1.5rem;
}

.our-menue-section__description a{
  color: rgb(242,174,13)
  
}

.menue-card{
  border-radius: 5rem;
  height: 38rem;
  background-size: cover;
  overflow: hidden;
  border: none;
}

.menue-card__img{
  height: 100%;
  object-fit: cover;
}

.menue-card__heading{
  font-size: 1.5rem;
}
.menue-section__readmore{
  background-color: rgb(123,182,66);
  color: black;
  border-radius: 3rem;
  border: none;
  font-size: calc(0.9rem + 0.5vw);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-weight: 250;
}

.contact-us-section{
  padding-top: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/contact-us-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-us-section__container{
  justify-content: center;
  height: 100%;
}

.contact-us-section__offer-heading{
  font-size: calc(1.5rem + 3vw);
}

.contact-us-section__circulardiv{
  height: calc(10rem + 5vw);
  width: calc(10rem + 5vw);
  background-color: rgb(153,229,77);
  border-radius: 50%;
  color: black;
  margin-bottom: 5rem;
}

.contact-us-section__heading{
  color: white;
  font-size: calc(1.1rem + 4vw);
  margin-bottom: 3rem;
}

.contact-us-section__form{
  margin-bottom: 8rem;
}

.contact-us-section__submit{
  background-color: rgb(123,182,66);
  color: black;
  border-radius: 3rem;
  border: none;
  font-size: calc(0.9rem + 0.5vw);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 250;
}

.contact-us-section__input{
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  border: none;
  margin-right: 1rem;
}

.contact-us-section__description{
  font-size: calc(1rem + 0.5vw);
  margin-bottom: 3rem;
  color: white;
}

.contact-option{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
figcaption{
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-option__circulardiv{
  height: calc(4rem + 2vw);
  width: calc(4rem + 2vw);
  background-color: rgb(153,229,77);
  border-radius: 50%;
  color: black;
}

.text-yellow{
  color: rgb(240,175,13);
}

footer{
  color: white;
  background-color: rgb(51,51,51);
  padding: 1rem;
}

.footer__text{
  margin: 0px;
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

@media (max-width: 991px) {

  .nav-section{
    margin-left: 0px;
    margin-right: 0px;
  }
  
}

@media (max-width: 1100px) {
  .banner-section__heading{
    width: 100%;
  }
}

@media (max-width: 561px) {
  .menue-card{
    height: 22rem;
  }
  .custom-card, .custom-card2{
    height: 22rem;
  }
}

@media (min-width: 562px) {
  .menue-card{
    height: 30rem;
  }
  .custom-card, .custom-card2{
    height: 33rem;
  }
}

@media (min-width: 768px) {
  .menue-card{
    height: 22rem;
  }
  .custom-card, .custom-card2{
    height: 25rem;
  }
  .article-card{
    height: 30rem;
  }

}
@media (min-width: 992px) {
  .max-section-width{
    max-width: 1000px;
  }
  .menue-card{
    height: 25rem;
  }
  .article-card{
    height: 35rem;
  }

}

@media (min-width: 1200px) {
  .max-section-width{
    max-width: 1200px;
  }
  .menue-card{
    height: 32rem;
  }

}

@media (min-width: 1400px) {
  .max-section-width{
    max-width: 1460px;
  }
  .menue-card{
    height: 38rem;
  }
  .custom-card , .custom-card2{
    height: 30rem;
  }
  .article-card{
    height: 40rem;
  }
}
